* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.App {
  min-height: 80vh;
  padding: 1rem;
  border: 3px solid gold;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1.5rem 0;
}

.header__btn {
  display: inline-block;
  background: black;
  color: aqua;
  padding: 5px 10px;
  margin: 0.2rem;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

input {
  padding: 0.6rem 1.1rem;
  border-radius: 3%;
  margin-right: 0.3rem;
}

.todoList {
  display: flex;
  flex-direction: column;
}

.todo {
  background: lightgreen;
  padding: 1.7rem;
  margin: 0.4rem 1.5rem;
  border-radius: 5px;
}

.todo.todo--completed {
  background: lightcoral;
  color: gray;
  text-decoration: line-through;
}

.todo h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.todo img {
  visibility: hidden;
}

.todo.todo--completed img {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .App {
    min-width: 500px;
  }
}

@media screen and (min-width: 1536px) {
  button {
    cursor: pointer;
  }
}
