* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #8d8973;
}

.App {
  min-height: 80vh;
  padding: 1rem;
  border: 3px solid gold;
  border-radius: 10px;
  background-color: #fffbe6;
}

header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1.5rem 0;
}

.header {
  color: #332b00;
}

form {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

input {
  padding: 0.6rem 1.1rem;
  border-radius: 3%;
  margin-right: 0.3rem;
}

.todoList {
  display: flex;
  flex-direction: column;
}

.todo {
  background: gold;
  padding: 1.7rem;
  margin: 0.4rem 1.5rem;
  border-radius: 5px;
}

.todo.todo--completed {
  background: #8d8973;
  color: rgb(233, 233, 233);
  text-decoration: line-through;
}

.todo h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.todo img {
  visibility: hidden;
}

.todo.todo--completed img {
  visibility: visible;
}

#txtTodoItemToAdd {
  border-radius: 5px;
}

#btnAddTodo {
  cursor: pointer;
  background-color: #332b00;
  color: gold;
  border-radius: 5px;
}

#btnAddTodo:hover {
  background-color: #665600;
  color: gold;
}
